h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}

html {
	font-family: "Inter", sans-serif;
}

.container {
	/* max-inline-size: 100%;
	margin-inline: auto;
	padding:  0 var(--dark-color); */
	padding: 0 var(--container-padding-inline);
}

.title {
	color: var(--dark-color, #db205f);
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
	line-height: normal;
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url(../img/main_bg.jpg) center center / cover no-repeat;
	padding-top: 75px;
}

.promo__title {
	color: var(--light-color);
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.promo__subtitle {
	margin-top: 124px;
	color: var(--light-color, #f5f5f7FF);
	font-size: 32px;
	font-weight: 100;
	line-height: normal;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	padding: 3px 10px;
	margin-top: 20px;
	width: 160px;
	min-height: 38px;
	border: 1px solid var(--light-color, #f5f5f7FF);
	background: rgba(217, 217, 217, 0);
	color: var(--light-color, #f5f5f7FF);
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	cursor: pointer;
}

.promo__address {
	margin-top: 100px;
	color: var(--light-color, #f5f5f7FF);
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	address {
		font-style: normal;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
	li {
		list-style-type: none;
		color: var(--light-color, #f5f5f7FF);
		font-size: 10px;
		font-weight: 100;
		line-height: normal;
	}
}

.about {
	padding-top: 80px;
	background-color: var(--light-color, #f5f5f7FF);
}

.about__title {
	color: var(--dark-color, #221f20);
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

.about__text {
	width: 1100px;
	margin-top: 20px;
	color: var(--dark-color, #221f20);
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
	span {
		color: #a5a5a5;
	}
}

.services {
	column-gap: 10px;
	display: flex;
	margin-top: 80px;
}

.services__items {
	width: 50%;
	ul {
		margin-top: 20px;
		padding: 0;
	}
	li {
		margin-top: 10px;
		list-style-type: none;
		color: var(--dark-color, #221f20);
		font-size: 16px;
		line-height: normal;
		font-weight: 400;
	}
}

.services__items-subtitle {
	color: var(--dark-color, #221f20);
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}

.services__text {
	width: 50%;
	color: var(--dark-color, #221f20);
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.4px;
}

.works {
	background-color: var(--light-color, #f5f5f7FF);
	padding-top: 80px;

}

.works__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 50px;
    margin-top: 50px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    img:nth-child(5) {
        grid-column: 1 / 3;
        height: 400px;
    }
}

.inspiration {
	background-color: var(--light-color, #f5f5f7FF);
	padding-top: 80px;
}

.inspiration__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
    padding-top: 53px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.customers {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    background-color: var(--dark-color);
    padding: 60px var(--footer-padding-inline);
    color: var(--light-color);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__info {
    flex: 1;
}

.footer__logo {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__description {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
    max-width: 300px;
    margin-bottom: 30px;
}

.footer__contact {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
    address {
        font-style: normal;
        margin-bottom: 10px;
    }
    a {
        color: var(--light-color);
        text-decoration: none;
    }
}

.footer__links {
    flex: 1;
    text-align: center;
}

.footer__links-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__links ul {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 10px;
        a {
            color: var(--light-color);
            text-decoration: none;
            font-size: 14px;
            font-weight: 100;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer__social {
    flex: 1;
    text-align: right;
}

.footer__social-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__social-links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    a {
        color: var(--light-color);
        text-decoration: none;
        font-size: 14px;
        font-weight: 100;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(245, 245, 247, 0.2);
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.7;
}






















